Practica_5/Basica/src/ip/DCM_100MHz_10MHz/** linguist-vendored=true
Practica_5/Examen/Exception/src/DCM_100MHz_10MHz/** linguist-vendored=true
Practica_5/Examen/JAL/src/DCM_100MHz_10MHz/** linguist-vendored=true
